body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ffb8ec;
}

#config{
    margin: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

h1{
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #007bff;
}
#chargement{
    position: absolute;
    width: 100%;
    height: 108%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(140, 157, 233, 0.663);
    color: white;
    font-weight:bold;
    font-size: 40px;
}
#nochargement{
    display: none;
}